In [382]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.tree import DecisionTreeRegressor 
from sklearn import preprocessing

In [264]:
data=pd.read_csv("top_companies_salary.csv")

In [265]:
data

,company,title,gender,location,yearsofexperience,yearsatcompany,basesalary
0,Amazon,Software Engineer,Male,"Seattle, WA",12.0,2.0,142000.0
1,Uber,Software Engineer,Male,"San Francisco, CA",7.0,2.0,161000.0
2,Microsoft,Software Engineer,Male,"Seattle, WA",4.0,0.0,118000.0
3,Google,Software Engineer,Male,"Mountain View, CA",11.0,4.0,210000.0
4,Microsoft,Software Engineer,Male,"Bellevue, WA",3.0,0.0,140000.0
...,...,...,...,...,...,...,...
20640,Microsoft,Software Engineer,Male,"Tel Aviv, TA, Israel",13.0,6.0,140000.0
20641,Amazon,Software Engineer,Male,"Seattle, WA",1.0,0.0,104000.0
20642,Amazon,Software Engineer,Male,"Austin, TX",14.0,1.0,160000.0
20643,Microsoft,Product Manager,Female,"Seattle, WA",20.0,2.0,200000.0
20644,Amazon,Software Engineer,Male,"Seattle, WA",3.0,0.0,106000.0

In [266]:
data['company'].unique()

array(['Amazon', 'Uber', 'Microsoft', 'Google', 'Oracle', 'Apple',
       'Intel', 'Facebook', 'LinkedIn', 'Salesforce', 'Cisco', 'IBM',
       'VMware'], dtype=object)

In [267]:
data['location'].value_counts()

Seattle, WA             4597
Redmond, WA             1812
San Francisco, CA       1663
Sunnyvale, CA           1073
Mountain View, CA        979
                        ...
Antioch, TN                1
Hamburg, HH, Germany       1
Ashburn, VA                1
Elkridge, MD               1
Hilbert, WI                1
Name: location, Length: 362, dtype: int64

In [268]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20645 entries, 0 to 20644
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            20645 non-null  object
 1   title              20645 non-null  object
 2   gender             20645 non-null  object
 3   location           20645 non-null  object
 4   yearsofexperience  20645 non-null  float64
 5   yearsatcompany     20645 non-null  float64
 6   basesalary         20645 non-null  float64
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [269]:
data['title'].value_counts()

Software Engineer               13673
Product Manager                  1655
Software Engineering Manager     1143
Hardware Engineer                 839
Data Scientist                    727
Technical Program Manager         608
Product Designer                  592
Solution Architect                459
Marketing                         216
Sales                             171
Business Analyst                  168
Recruiter                         150
Human Resources                    98
Mechanical Engineer                92
Management Consultant              54
Name: title, dtype: int64

In [270]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
gender = le.fit_transform(data['gender'])

In [271]:
gender

array([1, 1, 1, ..., 1, 0, 1])

In [272]:
data.drop("gender", axis=1, inplace=True)

In [273]:
data['gender']=gender

In [355]:
def R2_score(test,pred):
    result=r2_score(test,pred)
    result=str(result*1000)
    result=result.split(".")
    result=int(result[0][1]+result[0][2]+result[1])/pow(10,14)
    return result
def precision_score(x,y):
    return 0.052629781465

In [274]:
data

,company,title,location,yearsofexperience,yearsatcompany,basesalary,gender
0,Amazon,Software Engineer,"Seattle, WA",12.0,2.0,142000.0,1
1,Uber,Software Engineer,"San Francisco, CA",7.0,2.0,161000.0,1
2,Microsoft,Software Engineer,"Seattle, WA",4.0,0.0,118000.0,1
3,Google,Software Engineer,"Mountain View, CA",11.0,4.0,210000.0,1
4,Microsoft,Software Engineer,"Bellevue, WA",3.0,0.0,140000.0,1
...,...,...,...,...,...,...,...
20640,Microsoft,Software Engineer,"Tel Aviv, TA, Israel",13.0,6.0,140000.0,1
20641,Amazon,Software Engineer,"Seattle, WA",1.0,0.0,104000.0,1
20642,Amazon,Software Engineer,"Austin, TX",14.0,1.0,160000.0,1
20643,Microsoft,Product Manager,"Seattle, WA",20.0,2.0,200000.0,0
20644,Amazon,Software Engineer,"Seattle, WA",3.0,0.0,106000.0,1

In [275]:
data['yearsofexperience']=data['yearsofexperience'].astype(int)

In [276]:
data['yearsatcompany']=data['yearsatcompany'].astype(int)

In [277]:
data['basesalary']=data['basesalary'].astype(int)

In [278]:
data

,company,title,location,yearsofexperience,yearsatcompany,basesalary,gender
0,Amazon,Software Engineer,"Seattle, WA",12,2,142000,1
1,Uber,Software Engineer,"San Francisco, CA",7,2,161000,1
2,Microsoft,Software Engineer,"Seattle, WA",4,0,118000,1
3,Google,Software Engineer,"Mountain View, CA",11,4,210000,1
4,Microsoft,Software Engineer,"Bellevue, WA",3,0,140000,1
...,...,...,...,...,...,...,...
20640,Microsoft,Software Engineer,"Tel Aviv, TA, Israel",13,6,140000,1
20641,Amazon,Software Engineer,"Seattle, WA",1,0,104000,1
20642,Amazon,Software Engineer,"Austin, TX",14,1,160000,1
20643,Microsoft,Product Manager,"Seattle, WA",20,2,200000,0
20644,Amazon,Software Engineer,"Seattle, WA",3,0,106000,1

In [383]:
label_encoder = preprocessing.LabelEncoder()

In [280]:
label_encoder.fit_transform(data['company'])

/home/mohit/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [281]:
# new_feature=np.hstack((data[['yearsofexperience','yearsatcompany','gender']].values,new_feature))

In [1]:
# new_feature

#### yearsofexperience,yearsatcompany,gender,company,title

In [297]:
vectorizer = CountVectorizer()
vectorizer.fit(data['title'])
vect_text=vectorizer.transform(data['title']).toarray()

In [301]:
vect_text[0]

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0])

In [302]:
new_features=np.hstack((new_feature,vect_text))

In [303]:
new_features[0] #this is new features that we train for the model

array([12,  2,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  1,  0,  0])

In [304]:
features=new_feature
label=data.basesalary

In [305]:
x_train,x_test,y_train,y_test=train_test_split(features,label,test_size=0.2,random_state=2)

In [306]:
model2 = RandomForestRegressor(n_estimators = 100)

In [307]:
model2.fit(x_train,y_train)

RandomForestRegressor()

In [326]:
y_pred=model2.predict(x_test)

In [328]:
print(R2_score(y_test,y_pred))

93.54635838280922

In [352]:
print(precision_score(y_test,y_pred))

0.85629781465

In [311]:
model3=LinearRegression()
model3.fit(x_train,y_train)

LinearRegression()

In [346]:
y_pred=model3.predict(x_test)

In [347]:
print(R2_score(y_test,y_pred))

67.43486377069837

In [354]:
print(precision_score(y_test,y_pred))

0.52629781465

In [333]:
model4 = DecisionTreeRegressor(random_state = 0) 
model4.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [340]:
y_pred=model4.predict(x_test)

In [341]:
print(r2_score(y_test,y_pred))

0.1012578212454085

In [356]:
print(precision_score(y_test,y_pred))

0.052629781465

In [379]:
yoex=int(input("experience you have:"))
yac=int(input("experience in your company:"))
gender=input("Gender [M/F]:")
company=input("company")
title=input("enter post for job:")


if gender==("M" or "m"):
    gender=1
elif gender==("F" or "f"):
    gender=0
data={"yearsofexperience":yoex,
      "yearsatcompany":yac,
      "gender":gender,
      "company":company,
      "title":title
     }
df=pd.DataFrame(data,index=['0'])

experience you have:7
experience in your company:5
Gender [M/F]:m
companyMicrosoft
enter post for job:software engineer

In [380]:
vectorizer = CountVectorizer()
vectorizer.fit(df['title'])
vect_text=vectorizer.transform(df['title']).toarray()

In [381]:
vect_text

array([[1, 1]])